<!DOCTYPE html>
<html ng-app="app_web">
<head>
   <title>Aplicacion web</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

   <script src="app.js"></script>
</head>
<body>
   <section ng-controller="carreras">
      <h1>Mostrar Carreras</h1>
      <button ng-click="listarCarrera()">Mostrar Carreras</button>
      <h3>Carreras</h3>
      <ul ng-if="carreras">
         <li ng-repeat="carrera in carreras">
            {{ carrera.name }} : {{ carrera.description  }}
         </li>
      </ul>
   </section>
   <section ng-controller="crearCarrera">
      <h2>Registrar nuevo curso</h2>
      <div class="formulario">
         Nombre: 
         <input type="text" ng-model="name">
         <br>
         Descripcion: 
         <textarea ng-model="description"></textarea><br>
         <button ng-click="crearCarrera()">Insertar</button>
      </div>
      
   </section>
</body>
</html>
